---
// Component Imports
import Resume from '../components/Resume/index.jsx';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>张大尉的在线简历</title>
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<style>
			html,
			body {
				height: 100%;
				font-family: system-ui;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<Resume />
	</body>
</html>
